// Promo

// ########## All Layout Variables Here ##########
$wrapper-width: 80%;

// ########## All Text Variables Here ##########
$font-family: 'Roboto';

// ########## All Images Variables Here ##########
$promo-image-1: './images/topmic8.jpeg';
$promo-image-2: './images/topmic9.jpeg';
$promo-image-3: './images/topmic9.jpeg';
$promo-image-4: './images/topmic6.jpeg';

// ########## All Colors Variables Here ##########
$primary-color: #2F563B;
$secondary-color: #2F563B;
$accent-color: #FFFBA9;
$white: #ffffff;
$black: #000000;
$background-image-color: #e8eced;
$heading-icon-color: #ffcc33;
$secondary-background-color:#e6e6e6;
//Calender
$arrowColor:#134A7D;